DISCORD_TOKEN=MTUzOTMwODMyOTc5OTY0NzMzMw.GkQQlY.VcY1J4s3IJ3ccMWiPYXIjTz1SrAMteyW1bRlUg
# Opcional: agiliza o registro de comandos durante desenvolvimento.
DISCORD_TEST_GUILD_ID=1534533916826800300
DATABASE_PATH=data/dailyveiga.db
LOG_LEVEL=INFO

